p{
    font-size: 15px;  /*tamanho da letra*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*familia da letra*/ 
    font-style: oblique; /*estilo da letra*/
    color: black; /*cor*/
    text-align: center; /*alinhamento horizontal*/
    justify-content: space-around; /*alinhamento do eixo principal*/
    font-weight: bolder; /*intensidade da letra*/
    background: white; /*fundo da letra*/
    border-radius: 7.5px; /*defini borda*/
}
body{
    background-color: brown; /*cor de fundo*/
    display: grid; /*define grid*/
    grid-template-areas: /*define o número total de colunas que serão criadas no grid*/
     "cab cab cab"
     "sec pri pri"
     "rod rod rod";
     grid-template-columns: 20% auto auto; /*define o numero total de colunas que serão criadas no grid*/
     grid-template-rows: auto 100v auto; /*define linhas de início e linhas de término*/
}
header{
    grid-area: cab;
}
aside{
    grid-area: sec;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}
.img{
    display: inline;
    margin: 225px 100px 225px;
    position: relative;
}
.ftr{
    background: linear-gradient(45 deg, rgba(116, 116, 116, 0.808), rgba(43, 43, 43, 0.678));
    border-radius: 7.5px;
}
.alf{
    text-align: center;
}
